* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color:azure;
}

.controls {
    display: flex;
}

.cols {
    display: flex;
    flex-direction: column;
}

#equal {
    flex: 1;
}

#decimal {
    flex: 1;
}

.calc-row {
    display: flex;
    flex: 1;
    gap: 4px;
}

.rows {
    display: flex;
    flex-direction: column;
}

.controls, .rows, .cols {
    gap: 5px;
}

.calc-button {
    min-width: 50px;
    min-height: 30px;
    border-radius: 5px;
    border: 0.5px solid grey;
}

.display {
    height: 50px;
    max-width: 100%;
    background-color: lightblue;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: large;
    text-overflow: clip;
    overflow: auto;
    white-space: nowrap;
}

.calculator {
    border: 2px solid grey;
    padding: 10px;
    border-radius: 10px;
    background-color: lightslategray;
    display: flex;
    gap: 10px;
    flex-direction: column;
    max-width: 500px;
}